**/.vscode/
**/.DS_Store
**/objs

cpp00/ex00/megaphone
cpp00/ex01/awesome_phonebook
cpp00/ex02/account_log
cpp01/ex00/zombie
cpp01/ex01/zombie_horde
cpp01/ex02/of_brains_and_pointers
cpp01/ex03/unnecessary_violence
cpp01/ex04/replace
cpp01/ex04/test.replace
cpp01/ex05/karen2.0
cpp01/ex06/karen_filter
cpp02/ex00/fixed_point
cpp02/ex01/more_useful_fixed_point


michele_cpp_modules