**/.vscode/
**/.DS_Store
**/objs
**/Zone.Identifier

cpp00/ex00/megaphone
cpp00/ex01/awesome_phonebook
cpp00/ex02/account_log
cpp01/ex00/zombie
cpp01/ex01/zombie_horde
cpp01/ex02/of_brains_and_pointers
cpp01/ex03/unnecessary_violence
cpp01/ex04/replace
cpp01/ex04/*.replace
cpp01/ex05/harl2.0
cpp01/ex06/harl_filter
cpp02/ex00/fixed_point
cpp02/ex01/more_useful_fixed_point
cpp02/ex02/even_more_useful_fixed_point
cpp03/ex00/claptrap
cpp03/ex01/scavtrap
cpp03/ex02/fragtrap
cpp03/ex03/diamondtrap
cpp04/ex00/polymorphism
cpp04/ex01/brain
cpp04/ex02/abstract
cpp05/ex00/bureaucrat
cpp05/ex01/forms
cpp05/ex02/multipleforms
cpp05/ex02/*_shrubbery
cpp05/ex03/intern
cpp06/ex00/convert
cpp06/ex01/serialization
cpp06/ex02/realtype
cpp07/ex00/warmingup
cpp07/ex01/iter
cpp07/ex02/array
cpp08/ex00/???

cppmichele